*.env
easy-rsa
certs/keys/*
*.pyc
*~
*__pycache__*
*/.~lock*
*/settingslocal.py
!tests/settingslocal.py
static/*
certificates/*
!certificates/README.md
data/metadata/*
!data/metadata/satosa.xml
django_idp/idp_pysaml2.py
documentation/_build/
tests/data/metadata/*
tests/sp/metadata/*
.coverage
.pytest_cache
*.sqlite3
pcvalidate
