build/*
dist/*
*.egg-info/*
*.env
easy-rsa
certs/keys/*
*.pyc
*~
*__pycache__*
*/.~lock*
*/settingslocal.py
!tests/settingslocal.py
static/*
certificates/*
!certificates/README.md
data/metadata/*
documentation/_build/
uniauth_saml2_idp/tests/data/metadata/*
uniauth_saml2_idp/tests/sp/metadata/*
.coverage
.pytest_cache
*.sqlite3
pcvalidate

example-docker
example_sp/djangosaml2_sp/sqlite3.db
xdrplus-iam/logs/*.log
xdrplus-iam/logs/*.log.*

xdrplus-iam/data/media/*
!xdrplus-iam/data/media/README.md
