django>=2.2.7,<3.0
mysqlclient
uwsgi

# hint before: pip install -U setuptools
git+https://github.com/peppelinux/pysaml2.git@pplnx-v5
cffi

# django saml2 idp
git+https://github.com/peppelinux/djangosaml2.git@pplnx-dev

#Bootstrap Italia + Unical template
git+https://github.com/italia/design-django-theme.git
git+https://github.com/UniversitaDellaCalabria/django-unical-agid-template.git

pycountry
git+https://github.com/silentsokolov/django-admin-rangefilter.git

# SASS dynamic compiler
libsass
django_sass_processor

# ldap
git+https://github.com/peppelinux/django-ldapdb.git
git+https://github.com/peppelinux/pySSHA-slapd.git
git+https://github.com/peppelinux/django-ldap-academia-ou-manager.git
git+https://github.com/peppelinux/pyMultiLDAP.git

# diagrams
django-extensions
pydotplus
