{% extends 'idp_base.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}
{% endblock page_title %}

{% block header_slim_wrapper %}{% endblock %}

{% block header_center_search %}{% endblock header_center_search %}
{% block header_slim_right_zone %}{% endblock header_slim_right_zone %}
{% block main_menu %}{% endblock main_menu %}

{% block header_center_logo %}

{% endblock %}

{% block header_center_social %}
{% endblock header_center_social %}

{% block centered_container %}
{% endblock centered_container %}

{% block bootstrap_italia_validation %}
{% endblock bootstrap_italia_validation %}

{% block footer %}
{% endblock %}
