<!-- Extends default Bootstrap Italia template -->
{% extends 'base-setup.html' %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static '/css/overrides.css' %}">

{% block extra_head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/idp_style.css' %}">
{% endblock extra_head %}

{% block extra_scripts %}
	{% block bootstrap_italia_validation %}
		<script>
			(function () {
'use strict';
window.addEventListener('load', function () {
var forms = document.getElementsByClassName('needs-validation');
var validation = Array.prototype.filter.call(forms, function (form) {
form.addEventListener('submit', function (event) {
if (form.checkValidity() === false) {
event.preventDefault();
event.stopPropagation();
}
}, false);
form.classList.add('was-validated');
});
}, false);
})();
		</script>
	{% endblock bootstrap_italia_validation %}
{% endblock extra_scripts %}
