{% extends 'idp_base.html' %}
<link type="text/css" rel="stylesheet" href="/static/css/overrides.css">

{% load i18n %}
{% load static %}

{% block page_title %}
	SAML POST
{% endblock page_title %}

{% block header_wrapper %}{% endblock header_wrapper %}
{% block footer %}{% endblock footer %}

{% block centered_container %}
	<form method="post" action="{{ acs_url }}">
		{% csrf_token %}
		<div>
			<input type="hidden" name="RelayState" value="{{ relay_state }}"/>
			<input type="hidden" name="SAMLResponse" value="{{ saml_response }}"/>
		</div>
	</form>
	{% if saml_response %}
		<script type="text/javascript">
			window.onload = function () {
document.forms[0].submit();
}
		</script>
	{% endif %}
{% endblock centered_container %}

{% block bootstrap_italia_validation %}{% endblock bootstrap_italia_validation %}
