body {
    background-image: url("/static/images/logo_back.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    height: 100vh;
}

.grey-color {
    color:#435a70;
}
.unical-background {
    background:#b71e24;
}
