{% extends 'base_clean.html' %}

{% load i18n %}
{% load static %}

{% block centered_container %}
    
    {% if form %}
	<h1 class="">{% trans "Password reset" %}</h1>
    
    <p>
        {% trans "Please insert your email and the new password" %}.
    </p>
    {% endif %}
    
    {% if form %}
    <div class="">
        <!-- form rendering -->
        <form method="post" enctype="multipart/form-data">
            {% for field in form %}
                <!-- fields pre-text -->
                {{ field.field.pre_text }}

                {% if field.field.widget.input_type != 'hidden' %}
                <div style="padding: 0 0 1rem">
                    <!-- field label -->
                    <b>{{ field.label_tag }}</b>
                    {% if field.field.required %}*{% endif %}
                    <!-- end field label -->
                    <br>
                {% endif %}
                <!-- field rendering -->
                {{ field }}

                <!-- field help-text -->
                {% if field.help_text %}
                    <br>
                    <small class="form-text text-muted">
                        {{ field.help_text|safe }}
                    </small>
                {% endif %}
                <!-- end field help-text -->

                <!-- field errors -->
                {% if field.errors and field.field.widget.input_type != 'hidden' %}
                    <small class="text-danger">
                        {{ field.errors }}
                    </small>
                {% endif %}
                <!-- end field errors -->

                {% if field.field.widget.input_type != 'hidden' %}
                </div>
                {% endif %}
            {% endfor %}
            {% csrf_token %}
            
            <input 
                type="submit" 
                name="confirm" 
                class="btn btn-lg btn-success btn-block unical-background override" 
                value="{% trans 'Submit' %}" 
                style="background: #383838;"
            />
        
        </form>
        <!-- end form rendering -->
	</div>
    {% endif %}
{% endblock centered_container %}
