<!DOCTYPE HTML>
{% load i18n %}
{% load static %}
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="it"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="it"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="it"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="it"><!--<![endif]-->
<head>
    <title>
        Identity Provider
        {% block page_title %}
            - {% trans "Auth login" %}
        {% endblock page_title %}
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon-180x180.png' %}">
-->
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png' %}">
<!--
    <link rel="icon" type="image/png" href="{% static 'img/favicon/android-chrome-192x192.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage"  content="{% static 'img/favicon/mstile-144x144.png' %}">
-->
    <meta name="theme-color" content="#ffffff">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-italia.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/italia-web-toolkit.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/idp-login.css' %}">


    <!--[if lt IE 9]>
    <script src="{% static 'js/selectivizr.min.js') }}"></script>
    <script src="{% static 'js/respond.min.js') }}"></script>
    <script src="{% static 'js/rem.min.js') }}"></script>
    <![endif]-->
</head>
<body class="extrabuttons">
    <section class="main-wrapper u-layout u-layout-wide u-layoutCenter">
        <header class="main-header u-padding-all-l">
<!--
            <div class="main-header__inner Grid Grid--fill Grid--withGutter Grid--equalHeight Grid--alignMiddle">
                <div class="u-size1of2">
                    <div class="it-brand-wrapper">
                        <img src="{% static 'img/logo.svg' %}" class="main-header__spidlogo v2" onerror="this.src='img/spid-level3-logo-bb.png'; this.onerror=null;" alt="IDP Logo" >
                    </div>
                </div>
                <div class="u-size1of2">
                    <div class="u-textRight">
                         <div class="it-brand-text">
                        <h1 class="no_toc">
                            Università della Calabria
                        </h1>
                        <h3 class="no_toc d-none d-md-block">
                            Il Campus per eccellenza
                        </h3>
                    </div>
                    </div>
                </div>
            </div>
-->
        </header>

        {% block content %}{% endblock %}
    </section>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        {% block bottom_scripts %}
            <script src="{% static 'js/spid-login.js' %}"></script>
            <script src="{% static 'js/bootstrap-italia.bundle.min.js' %}"></script>
        {% endblock bottom_scripts %}

</body>
</html>
