<!-- Extends default Bootstrap Unical Italia template -->
{% extends 'idp_base.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}
IDP: {% trans "Auth login" %}
{% endblock page_title %}

{% block header_wrapper %}{% endblock header_wrapper %}
{% block footer %}{% endblock footer %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 p-5 offset-md-3 align-self-center">
            <image class="mb-5" src="{% static 'images/unical_logo.svg' %}" style="width:100%;"/>

            <p class="mb-4">{% trans "Single Sign-On" %}</p>

            <form class="needs-validation" name="login" method="post" action="{{ acs_url }}">
                {% csrf_token %}
                {% for form_field in form %}

                    {% ifequal form_field.field.widget.input_type "checkbox" %}
                    <div class="form-check">
                        <input name="{{ form_field.name }}"
                               type="checkbox" value=""
                               id="id_{{ form_field.html_name }}"
                               {% if form_field.field.required %}
                               class="form-check-input"
                               required
                               {% endif %}>
                        <label class="form-check-label"
                               for="id_{{ form_field.html_name }}">
                            {{ form_field.label }}
                        </label>
                    </div>
                    {% else %}
                    <div class="form-row">
                        <div class="col-12 form-group my-3">
                            <input type="{{ form_field.field.widget.input_type }}"
                                   class="form-control"
                                   id="id_{{ form_field.html_name }}"
                                   name="{{ form_field.name }}"
                                   minlength="{{ form_field.field.min_length }}"
                                   {% comment %}
                                   {% if forloop.first %} autofocus {% endif %}
                                   {% endcomment %}
                                   {% if form_field.field.required %}required{% endif %}>
                            <label for="id_{{ form_field.html_name }}">
                                <span class="form-label-content">
                                    {{ form_field.label }}
                                </span>
                            </label>
                            {% comment %}
                            <div class="valid-feedback">Validato!</div>
                            {% endcomment %}
                        </div>
                    </div>
                    {% endifequal %}
                {% endfor %}
                <div class="py-3">
                    <ul style="list-style: none; padding-inline-start: 37px;">
                        <li>
                            <a href="#" class="grey-color">
                                {% trans "Forgot your password?" %}
                            </a>
                        </li>
                        <li>
                            <a href="#" class="grey-color">
                                {% trans "Additional informations" %}
                            </a>
                        </li>
                    </ul>

                </div>
                <input type="submit"
                       name="confirm"
                       class="btn btn-lg btn-success btn-block unical-background"
                       value="{% trans 'Submit' %}"/>
            </form>
        </div>
    </div>
</div>
{% endblock container %}
