{% extends 'idp_base.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}
    SAML POST
{% endblock page_title %}

{% block header_center_search %}{% endblock header_center_search %}
{% block header_slim_right_zone %}{% endblock header_slim_right_zone %}
{% block main_menu %}{% endblock main_menu %}

{% block centered_container %}
    <form method="post" action="{{ acs_url }}">
        {% csrf_token %}
        <div>
        <input type="hidden" name="RelayState" value="{{ relay_state }}" />
        <input type="hidden" name="SAMLResponse" value="{{ saml_response }}" />
        </div>
    </form>
    {% if saml_response %}
    <script type="text/javascript">
        window.onload = function () {
            document.forms[0].submit();
        }
    </script>
    {% endif %}
{% endblock centered_container %}

{% block bootstrap_italia_validation %}{% endblock bootstrap_italia_validation %}
