# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: uniAuth

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
        django-version:
          - '4.2'
          - '5.2'

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install system package
      run: |
        sudo apt-get update
        sudo apt-get install libsasl2-dev python3-dev libldap2-dev libssl-dev xmlsec1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f requirements-customizations.txt ]; then pip install -r requirements-customizations.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 uniauth_saml2_idp --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 uniauth_saml2_idp --count --exit-zero --statistics  --max-line-length 160 --exclude=*migrations*
    - name: Test with Django tests
      working-directory: ./example
      run: |
        # pytest --cov-config=.coveragerc --cov=../ -v --ignore=tests/test_05_ldap_datastore.py
        # pytest --cov-config=.coveragerc -v --cov=../
        python manage.py test --settings tests.settings --failfast -v 2
    #- name: Bandit Security Scan
      #run: |
        #bandit -r -x test* uniauth/*
